<footer>
    <div class="f-info">
        <!-- <div class="f-info-socials">
            <a class="pointer font-black" href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>

        </div> -->
        <div class="social-icons">
            <a class="icon-link" href="mailto:sharsimran2004@gmail.com" target="_blank" aria-label="Facebook">
                <i class="fa-solid fa-envelope"></i>
            </a>
            <a class="icon-link" href="https://github.com/OpHarsimran/" target="_blank" aria-label="Instagram">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="icon-link" href="https://www.linkedin.com/in/harsimransingh2004/" target="_blank" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        
        <div class="f-info-brand" >&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>